.sidebar {
  width: 20%;
  background-color: #1e1e1e;
  padding: 20px;
  border-right: 2px solid #252525;
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  border-radius: 15px;
}

.semester {
  display: flex;
  gap: 20px;
  align-items: center;
  cursor: pointer;
  transition: all 0.5s;
}

.semester:hover {
  background-color: #252525;
  transition: all 0.5s;
  border-radius: 10px;
  color: #64b5f6;
}
